    {{>head}}
    <It>This site was created by Supratim Nag. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href='https://weatherstack.com/'>weatherstack.com!!</a></p>
    <img class='portrait' src='images/my-image.JPG'>
    {{>foot}}